@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Editemos esto */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIABLES GLOBALES EN CSS*/
:root{
    --bg: #f5f5f5;                  /* backbround o fondo de la pagina */
    --tex: #1a1a1a;                /* #1a1a1a; color de texto principal */
    --sidebar-w: 220px;             /*Ancho del menu (sidebar) izquierda */
    --sidebar-icons: 64px;         /* solo se muestra en la tablet el icono */
    --siderbar-bg: #ffffff;     /*Color del fondo del sidebar*/
    --sidebar-line:  rgba(0,0,0,0.15);
    --muted: #999;             /* Texto-secundario */
}

body{
    font-family: Poppins;
    background-color: var(--bg); /* Color de fondo*/
    color: var(--tex);          /* color del texto */
}
/* EMPEZEMOS A EDITAR EL SIDEBAR */
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separación de equina a esquina */
    padding: 0 20px;
    height: 56px;
    background-color: var(--siderbar-bg);
    border-bottom: 1px solid var(--sidebar-line);
    position: fixed; /* que queda fijo en un lugar, no permite scrolear */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200; 
}
.topbar .title-business{
    font-size: 1rem;
    font-weight: 600;
    color: var(--tex);
}
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem; 
    color: var(--tex);
}

.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 150;
}
/* Esto funcionará a la hora de programar en JS */
.overlay.show{
    display: block;
}
/*SIDE-BAR - VENTANA IZQUIERDA */
.siderbar{
    position: fixed;
    top: 0;
    left: -100%;
    width: var(--sidebar-w);
    height: 100vh;
    background-color: var(--siderbar-bg);
    border: 1px solid var(--sidebar-line);
    display: flex;
    flex-direction: column;
    z-index: 160;
    transition: left 0.25s ease; /*ANIMACION*/
    padding: 24px 0;
}

/* esto se va activar con javascript */
.siderbar.open{
    left: 0;
}

.siderbar-logo{
    padding: 0 20px 24px;
    font-size: 1rem; /*16px*/
    font-weight: 600;
    border-bottom: 1px solid var(--sidebar-line);
    margin-bottom: 16px;
}